<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ant.mapper.TeacherMapper">
    <resultMap id="BaseResultMap" type="com.ant.entity.Teacher">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="del" jdbcType="BIT" property="del"/>
        <result column="age" jdbcType="SMALLINT" property="age"/>
        <result column="entryTime" jdbcType="DATE" property="entrytime"/>
        <result column="salary" jdbcType="DECIMAL" property="salary"/>
        <result column="createdTime" jdbcType="TIMESTAMP" property="createdtime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, del, age, entryTime, salary, createdTime
    </sql>

</mapper>